Acceder y Eliminar elementos en Series

In [100]:
import pandas as pd

In [101]:
Studens = pd.Series(data= ['Luis', 'Jamaica', 40], index = ['name', 'country', 'age'])
Studens

name          Luis
country    Jamaica
age             40
dtype: object

In [102]:
print(Studens['age'])

40

In [103]:
print(Studens[['name', 'age']])

name    Luis
age       40
dtype: object

In [104]:
print(Studens.iloc[1])

Jamaica

In [105]:
print(Studens.iloc[[0, 1]])

name          Luis
country    Jamaica
dtype: object

In [106]:
print(Studens.iloc[-1])

40

In [107]:
print(Studens.loc['country'])

Jamaica

In [108]:
print(Studens.iloc[0])

Luis

In [112]:
# Studens.drop(['age'], inplace = True)
print(Studens)

name          Luis
country    Jamaica
dtype: object