Operaciones Aritmeticas en Series

In [18]:
import pandas as pd
import numpy as np

In [19]:
Fruits = pd.Series(data = [20, 40, 60], index = ['Apple', 'Banana', 'Cherry'])
Fruits

Apple     20
Banana    40
Cherry    60
dtype: int64

In [20]:
print(Fruits + 3)

Apple     23
Banana    43
Cherry    63
dtype: int64

In [21]:
print(Fruits - 4)

Apple     16
Banana    36
Cherry    56
dtype: int64

In [22]:
print(Fruits * 2)

Apple      40
Banana     80
Cherry    120
dtype: int64

In [23]:
print(Fruits / 10)

Apple     2.0
Banana    4.0
Cherry    6.0
dtype: float64

In [24]:
print(Fruits)
print(np.sqrt(Fruits))

Apple     20
Banana    40
Cherry    60
dtype: int64
Apple     4.472136
Banana    6.324555
Cherry    7.745967
dtype: float64