Operaciones Aritmeticas en Series

In [58]:
import pandas as pd
import numpy as np

In [59]:
Fruits = pd.Series(data = [20, 40, 60, 80], index = ['Mango', 'Apple', 'Banana', 'Cherry'])
Fruits

Mango     20
Apple     40
Banana    60
Cherry    80
dtype: int64

In [60]:
print(Fruits + 3)

Mango     23
Apple     43
Banana    63
Cherry    83
dtype: int64

In [61]:
print(Fruits - 4)

Mango     16
Apple     36
Banana    56
Cherry    76
dtype: int64

In [62]:
print(Fruits * 2)

Mango      40
Apple      80
Banana    120
Cherry    160
dtype: int64

In [63]:
print(Fruits / 10)

Mango     2.0
Apple     4.0
Banana    6.0
Cherry    8.0
dtype: float64

In [64]:
print(Fruits)
print('\n')
print(np.sqrt(Fruits))

Mango     20
Apple     40
Banana    60
Cherry    80
dtype: int64


Mango     4.472136
Apple     6.324555
Banana    7.745967
Cherry    8.944272
dtype: float64

In [65]:
print(np.exp(Fruits)) # e

Mango     4.851652e+08
Apple     2.353853e+17
Banana    1.142007e+26
Cherry    5.540622e+34
dtype: float64

In [66]:
print(np.power(Fruits, 2))

Mango      400
Apple     1600
Banana    3600
Cherry    6400
dtype: int64

In [67]:
print(Fruits['Mango'] + 3)

23

In [70]:
print(Fruits[['Banana' , 'Apple']] * 10)

Banana    600
Apple     400
dtype: int64

In [ ]:
print(Fruits.loc())