Method

In [3]:
class Worker:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def set_salary(self, salary):
        self.salary = salary

    # getters

    def get_net_salary(self):
        return 0.9 *self.salary

In [10]:
Worker_one = Worker('Juan', 49)
# print(Worker)

print(Worker_one.name)
print(Worker_one.age)

Worker_one.set_salary(400)

print(Worker_one.salary)
print(Worker_one.get_net_salary())

Juan
49
400
360.0

In [12]:
Worker_one.name = 'John'
print(Worker_one.name)

Worker_one_age = 34
print(Worker_one_age)

John
34